@use 'styles' as *;

.view-mode, .view-mode {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; // très haut pour passer devant FullCalendar
  display: flex;
  justify-content: center;
  align-items: center;
}

h2{
  font-family: $font-main;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: $font-secondary;
}

input, select {
  border: 2px solid transparent;
  width: auto;
  height: 2.5em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

input:hover,
input:focus,
select:hover,
select:focus {
  border: 2px solid $secondary;
  box-shadow: 0px 0px 0px 7px rgb(255, 214, 165, 20%);
  background-color: white;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.save {
  background: $primary;
  color: white;
}

.delete {
  background: $secondary;
  color: $text;
}

.close {
  background: #ddd;
}




