@use 'styles' as *;

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9999; // très haut pour passer devant FullCalendar
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 14px;
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.actions {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.save {
  background: #FF4D6D;
  color: white;
}

.delete {
  background: #444;
  color: white;
}

.close {
  background: #ddd;
}
