<div class="calendar-container">
  <div class="header-calendar">
    <button
      class="bouton-nav"
      mwlCalendarPreviousView
      [(viewDate)]="viewDate"
      [view]="view"
    >
      <
    </button>
    <h2>{{ viewDate | calendarDate : "monthViewTitle" : "fr" }}</h2>
    <button
      class="bouton-nav"
      mwlCalendarNextView
      [(viewDate)]="viewDate"
      [view]="view"
    >
      >
    </button>
  </div>
  <mwl-calendar-month-view
    [viewDate]="viewDate"
    [events]="events"
    [weekStartsOn]="weekStartsOn"
    (dayClicked)="handleDateClick($event.day.date)"
    (eventClicked)="handleEventClick($event.event)"
  >
  </mwl-calendar-month-view>

  <app-sortie-modal
    *ngIf="modalVisible"
    [sortie]="selectedSortie"
    [mode]="modalMode"
    (close)="modalVisible = false"
    (save)="onSave($event)"
    (delete)="onDelete($event)"
  ></app-sortie-modal>
</div>
<div class="timeline">
  <div class="timeline-item" *ngFor="let sortie of sortiesDuMois">
    <div class="timeline-date">
      <div class="day">
        {{ sortie.start | date : "d" }}
      </div>
      <div class="month">
        {{ sortie.start | date : "MMM" }}
      </div>
    </div>
    <div class="timeline-line"></div>
    <div class="timeline-dot"></div>
    <div class="timeline-title">
      {{ sortie.title }}
    </div>
  </div>
</div>
<app-menu></app-menu>
