<div class="head">
  <h1>Paramètres</h1>
</div>
<div class="section">
  <h2>Données</h2>

  <!-- Export : simple bouton -->
  <button class="btn-save" (click)="exporter()">
    💾 Sauvegarder mes données
  </button>

  <!-- Import : input file caché + bouton qui le déclenche -->
  <input
    type="file"
    accept=".json"
    #importInput
    style="display: none"
    (change)="importer($event)"
  />
  <button class="btn-import" (click)="importInput.click()">
    📂 Importer mes données
  </button>

  <!-- Effacer -->
  <button class="btn-delete" (click)="effacer()">
    🗑️ Effacer toutes mes données
  </button>
</div>
<app-menu></app-menu>
