<div class="content">
  <div class="head">
    <h1>Bonjour Marion,</h1>
    <!-- valeur quote random  -->
    <app-motivation-banner></app-motivation-banner>
  </div>
  <div>
    <!-- Carte : Total des sorties du mois (icône calendrier) -->
    <!-- <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#b585d4"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide-calendar-icon"
        >
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
          <path d="m9 16 2 2 4-4" />
        </svg>
      </h4>
      <p>{{ totalSorties }}</p>
    </div> -->

    <!-- Carte : Objectifs en cours (icône badge) -->
    <!-- <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#79B584"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-goal-icon lucide-goal"
        >
          <path d="M12 13V2l8 4-8 4" />
          <path d="M20.561 10.222a9 9 0 1 1-12.55-5.29" />
          <path d="M8.002 9.997a5 5 0 1 0 8.9 2.02" />
        </svg>
      </h4>
      <p>{{ objectifTermines.length }}</p>
    </div> -->

    <!-- Carte : Record jours consécutifs (icône flamme) -->
    <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="#ff4d6d"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide-fire-icon"
        >
          <path
            d="M12 3q1 4 4 6.5t3 5.5a1 1 0 0 1-14 0 5 5 0 0 1 1-3 1 1 0 0 0 5 0c0-2-1.5-3-1.5-5q0-2 2.5-4"
          />
        </svg>
      </h4>
      <p>{{ streak }}</p>
    </div> 
  </div>
  <div class="carte">
    <h3>Sortie recentes</h3>
    @for (sortie of recentesSorties; track sortie) {
      <div class="timeline-item">
        <div class="timeline-date">
          <div class="day">
            {{ sortie.start | date: "d" }}
          </div>
          <div class="month">
            {{ sortie.start | date: "MMM" }}
          </div>
        </div>
        <div class="timeline-line"></div>
        <div class="timeline-dot"></div>
        <div class="timeline-title">
          {{ sortie.title }}
        </div>
      </div>
    }
  </div>
  <div class="carte">
    <h3>Derniers badges obtenus</h3>
    <div class="lastBadges">
      @for (badge of derniersBadges; track badge) {
        <div class="badge-item">
          <img
            [src]="badge.image"
            alt="{{ badge.title }}"
            class="badge-image"
          />
        </div>
      }
    </div>
  </div>
</div>
<app-menu></app-menu>
