@import 'styles'

div
    position: absolute /* Positionne relativement au parent position: relative */
    bottom: 0
    left: 0
    width: 100%
    display: flex
    justify-content: space-around
    background-color: white
    padding: 1em 0
    border-top: 1px solid #eee
    z-index: 1000

    button
        background: none
        border: none
        outline: none
        box-shadow: none
        svg
            fill: $primary
    button.active
        background-color: rgba($primary, 0.1)
        border-radius: 4px
