<div class="content">
  <div class="head">
    <h1>Succes</h1>
    <!-- valeur quote random  -->
    <app-motivation-banner></app-motivation-banner>
  </div>
  <div class="contenair">
    <div
      *ngFor="let badge of badges"
      class="trophy"
      [class.locked]="!badge.unlocked"
      (click)="openTrophy(badge)"
    >
      <img [src]="badge.image" />
      <div class="lock-overlay" *ngIf="!badge.unlocked">🔒</div>
    </div>
  </div>
</div>
<app-menu></app-menu>
<div class="modal" *ngIf="selectedTrophy" (click)="closeModal()">
  <div class="modal-content" (click)="$event.stopPropagation()">
    <img [src]="selectedTrophy.image" />
    <h2>{{ selectedTrophy.title }}</h2>
    <p>{{ selectedTrophy.description }}</p>
    <p *ngIf="!selectedTrophy.unlocked">🔒 Pas encore débloqué</p>
  </div>
</div>
