.content {
  .contenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    height: 83vh;
    overflow-y: auto;
    // padding-top: 50px;
  }

  .trophee {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  img {
    width: 100px;
    height: 100px;
  }
}
