<div class="content">
  <div class="head">
    <h1>Succes</h1>
    <!-- valeur quote random  -->
    <app-motivation-banner></app-motivation-banner>
  </div>
  <div class="trophees">
    <!-- Nombres de sorties -->
    <h3>Nombre de sorties</h3>
    <div>
      <!-- petits paliers -->
      <h4>🎖️ Petits paliers</h4>
      <div class="trophee">
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1PremiereSortie.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1EnMouvement.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1MiraActive.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1Exploratrice.png"
          />
        </div>
      </div>

      <!-- petits paliers -->
    </div>
    <div>
      <!-- moyen paliers -->
      <h4>🏆 Moyens paliers</h4>
      <div class="trophee">
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1Aventurier.png"
          />
        </div>
        <div>
          <img src="assets/icons/achivements/1-NombresDeSorties/1Nomade.png" />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1ToujoursDehors.png"
          />
        </div>
      </div>

      <!-- moyen paliers -->
    </div>
    <div>
      <!-- grand paliers -->
      <h4>⭐ Grand paliers</h4>
      <div class="trophee">
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1Maratonien.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1Inarretable.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/1-NombresDeSorties/1LegendesSortie.png"
          />
        </div>
      </div>

      <!-- grand paliers -->
    </div>
  </div>
  <div>
    <h3>Humeur</h3>
    <div>
      <!-- Très bien -->
      <h4>😄 Très bien</h4>
      <div class="trophee">
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2RayonDeSoleil.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2EnergiePositive.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2HumeurEnOr.png" />
        </div>
      </div>
      <!-- Très bien -->
    </div>
    <div>
      <!-- Bien -->
      <h4>🙂 Bien</h4>
      <div class="trophee">
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2BonneVibes.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2Optimiste.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2StableEtSereine.png" />
        </div>
      </div>
      <!-- Bien -->
    </div>
    <div>
      <!-- Moyen -->
      <h4>😐 Moyen</h4>
      <div class="trophee">
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2CavaAller.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2TuTiensLeCap.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2Ressilient.png" />
        </div>
      </div>

      <!-- Moyen -->
    </div>
    <div>
      <!-- Tendu / Stressé -->
      <h4>😣 Tendu / Stressé</h4>
      <div class="trophee">
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2SortieCourageuse.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2TuNeLachesRien.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/2-Humeurs/2courageQuotidien.png" />
        </div>
      </div>

      <!-- Tendu / Stressé -->
    </div>
  </div>
  <div>
    <h3>Progression</h3>
    <div>
      <!-- Évolution des humeurs-->
      <h4>📈 Évolution des humeurs</h4>
      <div class="trophee">
        <div>
          <img src="assets/icons/achivements/3-Progression/3PetitMieux.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/3-Progression/3Tuprograsse.png" />
        </div>
        <div>
          <img
            src="assets/icons/achivements/3-Progression/3BonneDynamique.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/3-Progression/3AscensionPositive.png"
          />
        </div>
      </div>

      <!-- Évolution des humeurs-->
    </div>
    <div>
      <!-- Dépassement de soi-->
      <h4>💪 Dépassement de soi</h4>
      <div class="trophee">
        <div>
          <img
            src="assets/icons/achivements/3-Progression/3RevenirplusFort.png"
          />
        </div>
        <div>
          <img src="assets/icons/achivements/3-Progression/3Resilience.png" />
        </div>
        <div>
          <img
            src="assets/icons/achivements/3-Progression/3Transformation.png"
          />
        </div>
      </div>
      <!-- Dépassement de soi-->
    </div>
  </div>
  <div>
    <h3>Répetitions</h3>
    <div>
      <!-- Sorties consécutives-->
      <h4>📅 Sorties consécutives</h4>
      <div class="trophee">
        <div>
          <img
            src="assets/icons/achivements/4-Repetitions/4JoursDaffilee.png"
          />
        </div>
        <div>
          <img
            src="assets/icons/achivements/4-Repetitions/4ToujoursPresent.png"
          />
        </div>
        <div>
          <img src="assets/icons/achivements/4-Repetitions/4RythmeTrouve.png" />
        </div>
        <div>
          <img
            src="assets/icons/achivements/4-Repetitions/4RoutineSolide.png"
          />
        </div>
        <div>
          <img src="assets/icons/achivements/4-Repetitions/4FlowParfait.png" />
        </div>
        <div>
          <img src="assets/icons/achivements/4-Repetitions/4Constance.png" />
        </div>
      </div>

      <!-- Sorties consécutives-->
    </div>
  </div>
</div>
<app-menu></app-menu>
