<div class="head">
  <h1>Progression</h1>
  <app-motivation-banner></app-motivation-banner>
</div>
<div class="content">
  <div class="stats">
    <div class="carte">
      <p>{{ getStars(moyenneAvant) }}</p>
      <h4>Moyenne avant</h4>
    </div>
    <div class="carte">
      <p>{{ getStars(moyenneApres) }}</p>
      <h4>Moyenne après</h4>
    </div>
    <!--  -->
    <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-calendar-check-icon lucide-calendar-check"
        >
          <path d="M8 2v4" />
          <path d="M16 2v4" />
          <rect width="18" height="18" x="3" y="4" rx="2" />
          <path d="M3 10h18" />
          <path d="m9 16 2 2 4-4" />
        </svg>
      </h4>
      <p>{{ totalSorties }}</p>
    </div>
    <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-badge-check-icon lucide-badge-check"
        >
          <path
            d="M3.85 8.62a4 4 0 0 1 4.78-4.77 4 4 0 0 1 6.74 0 4 4 0 0 1 4.78 4.78 4 4 0 0 1 0 6.74 4 4 0 0 1-4.77 4.78 4 4 0 0 1-6.75 0 4 4 0 0 1-4.78-4.77 4 4 0 0 1 0-6.76Z"
          />
          <path d="m9 12 2 2 4-4" />
        </svg>
      </h4>
      <p>{{ objectifTermines.length }}</p>
    </div>
    <div class="carte carte-row">
      <h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-flame-icon lucide-flame"
        >
          <path
            d="M12 3q1 4 4 6.5t3 5.5a1 1 0 0 1-14 0 5 5 0 0 1 1-3 1 1 0 0 0 5 0c0-2-1.5-3-1.5-5q0-2 2.5-4"
          />
        </svg>
      </h4>
      <p>{{ maxJoursConsecutifs }}</p>
    </div>
  </div>
  <div class="carte">
    <h3>Sorties par mois</h3>
    <div class="chart">
      <div class="bar" *ngFor="let item of sortieParMois">
        <div class="bar-fill" [style.height.px]="getBarHeight(item.count)">
          {{ item.count }}
        </div>
        <span class="label">{{ item.label }}</span>
      </div>
    </div>
  </div>
  <!-- ? peut etre enlever cette parti parceque présente dans calendar et donc répétitif -->
  <!-- <div class="carte">
    @for (sortie of recentesSorties; track sortie) {
      <div class="timeline-item">
        <div class="timeline-date">
          <div class="day">
            {{ sortie.start | date: "d" }}
          </div>
          <div class="month">
            {{ sortie.start | date: "MMM" }}
          </div>
        </div>
        <div class="timeline-line"></div>
        <div class="timeline-dot"></div>
        <div class="timeline-title">
          {{ sortie.title }}
        </div>
      </div>
    }
  </div> -->
  <div class="carte">
    <div class="objectifs-header">
      <h3>Mes objectifs</h3>
      <button (click)="ajouterObjectif()">+</button>
    </div>
    @for (objectifs of objectifsEnCours; track objectifs) {
      <div class="listObjectif">
        <div class="objectif">
          <button
            [id]="objectifs.id"
            (click)="updateObjectif(objectifs.id)"
          ></button>
          <div>{{ objectifs.titre }}</div>
        </div>
        <button class="suppr" (click)="supprimerObjectif(objectifs.id)">
          x
        </button>
      </div>
    }
    <hr />
    @for (objectifs of objectifTermines; track objectifs) {
      <div class="listObjectif">
        <div class="objectif termine">
          <button [id]="objectifs.id" (click)="updateObjectif(objectifs.id)">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="none"
              stroke-width="3"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path d="M20 6 9 17l-5-5" />
            </svg>
          </button>
          <div>{{ objectifs.titre }}</div>
        </div>
        <button class="suppr" (click)="supprimerObjectif(objectifs.id)">
          x
        </button>
      </div>
    }
  </div>
</div>

@if (modalObjectifVisible) {
  <div class="modal-overlay">
    <input
      type="text"
      [(ngModel)]="nouveauTitreObjectif"
      placeholder="Titre de l'objectif"
    />
    <button (click)="creerObjectif()">Créer</button>
    <button (click)="modalObjectifVisible = false">Annuler</button>
  </div>
}

<app-menu></app-menu>
